<!-- # app/views/password_resets/edit.html.erb -->








<div class="wrapper" style="padding-bottom:3%;">
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
               <!--  <form class="reg-page"> -->

          <%#= form_for @user, :html => { :class => "reg-page" } do |f| %>
          <%= form_for @user, :url => password_reset_path(@user), :html => {:method => :put} do |f| %>
                  <% if @user.errors.any? %>
                          <div class="error_messages">
                            <h2>Form is invalid</h2>
                            <ul>
                              <% for message in @user.errors.full_messages %>
                                <li><%= message %></li>
                              <% end %>
                            </ul>
                          </div>
                        <% end %>

                    <div class="reg-header">
                        <h2>Reset your new password</h2>
                                            
                    </div><br>
    
                
                    <label>Email Address <span class="color-red">*</span></label>
        
                    <%#= f.text_field :email, :class =>"form-control margin-bottom-20", :value => @data %>

                    <%#= f.label :email %>
                    <%= @user.email %><br>                 
                            <label>Password <span class="color-red">*</span></label>
                            <div class="field">
                              <%= f.password_field :password, :class =>"form-control margin-bottom-20"  %>
                            <%#= f.password_field :password, :class =>"form-control margin-bottom-20" %>
              </div>
                        
                    <br>
                    
                            <label>Confirm Password <span class="color-red">*</span></label>
                            <%= f.password_field :password_confirmation, :class =>"form-control margin-bottom-20" %>
                            <%= hidden_field_tag :token, @token %>
                        <%#= f.password_field :password_confirmation, :class =>"form-control margin-bottom-20" %>



                    <hr>

                    <span class="input-group-btn "><button type="submit" class="btn-u"><i>Submit</i></button></span>
                  
                       
                  <% end %><!-- </form> -->
            
        </div>
    </div><!--/container-->   
    <!--=== End Content Part ===-->
</div>
</div>