<!--changes by pavan start-->    
<style>
iframe, object, embed {
        max-width: 100%;

}

iframe{
  max-width: 100% !important;
}
</style>
<!--changes by pavan end--> 


    <div class="wrapper">            
     <div class="container content">
        <div class="row"><!-- Tab v2 -->  
        <!-- <h2>This is heading for stock market</h2>
 -->

<!-- style="background-image: url('app/assets/images/us.png');"
 -->
        <div class="col-md-12">              
                <div class="tab-v2">
                    <ul class="nav nav-tabs">
                        <li  class="active"><a href="#home-1" data-toggle="tab"><div style="float:left;"><%=image_tag('in.png')%></div><div style="float:left; padding-top:10px;padding-left:10px;"><span style="font-weight:bold; font-size:15px;">INDIA</span></div></a></li>
                        <li><a href="#profile-1" data-toggle="tab"><div style="float:left;"><%=image_tag('uk.png')%></div><div style="float:left; padding-top:10px;padding-left:10px;"><span style="font-weight:bold; font-size:15px;">UK</span></div></a></li>
                        <li><a href="#messages-1" data-toggle="tab"><div style="float:left;"><%=image_tag('us.png')%></div><div style="float:left; padding-top:10px; padding-left:10px;"><span style="font-weight:bold; font-size:15px;">US</span></div></a></li>
                        <li><a href="#settings-1" data-toggle="tab"><div style="float:left;"><%=image_tag('jp.png')%></div><div style="float:left; padding-top:10px; padding-left:10px;"><span style="font-weight:bold; font-size:15px;">JAPAN</span></div></a></li>
                        <li><a href="#forex" data-toggle="tab">
                          <div style="float:left;"><%=image_tag('glob.png')%></div><div style="float:left; padding-top:10px; padding-left:10px;"><span style="font-weight:bold; font-size:15px;">RESOURCES</span></div></a></li>
                    </ul>                
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home-1">
                          <div class="row">
                            <div class="col-md-12">
                              

<iframe frameborder="0"
src="http://www.indianotes.com/widgets/indices-ticker/index.php?type=indices-ticker&w=1100" width="100%" height="100" scrolling="no"></iframe>
</div>
                          <div class="col-md-4">
                            <h4>Stock exchange in India</h4>
                            
                            <p><script type="text/javascript">var _mcq=["6",""];</script><span id='_mc_mg6'></span><script language="JavaScript" src="http://stat1.moneycontrol.com/mcjs/common/mc_widget.js"></script><noscript><a href="http://www.moneycontrol.com">Sensex/Nifty</a></noscript></p>
                          </div>
                          <div class="col-md-4">
                            <h4>Top gainers</h4>
                            <p>
                               <iframe src="http://www.appuonline.com/gadgets/gainers_g.html"
                          height="422px" width="300px" frameborder="0" scrolling="no"></iframe>

                            </p> 
                            </div>   
                             <div class="col-md-4">
                            <h4>Top Losers</h4>
                            <p>
                               <iframe src="http://www.appuonline.com/gadgets/losers_g.html"
height="422px" width="300px" frameborder="0" scrolling="no"></iframe>

                            </p> 
                            </div>  
                            <div class="col-md-6">
                            <p> <a href="http://goldprice.org"> <img border=0 width='90%' src="http://goldprice.org/NewCharts/gold/images/gold_1d_g_m_INR.png"></a><br><a href="http://goldprice.org">gold price</a> charts provided by <a href="http://goldprice.org">goldprice.org</a></p>    
                            </div> 
                            <div class="col-md-6">
                              <p><a href="http://silverprice.org"> <img border=0 width='90%' src="http://silverprice.org/charts/silver_1d_k_m_INR.png"></a><br><a href="http://silverprice.org">silver price</a> charts provided by <a href="http://silverprice.org">silverprice.org</a></p>
                              </div>

                        </div>
                      </div>
                        <div class="tab-pane fade in" id="profile-1">
                            <div class="row">
                             <div class="col-md-6">
                              <p>
                                <a href="http://goldprice.org"> <img border=0 width="100%" src="http://goldprice.org/NewCharts/gold/images/gold_1d_g_m_EUR.png"></a><br><a href="http://goldprice.org">gold price</a> charts provided by <a href="http://goldprice.org">goldprice.org</a>
                              </p>
                             </div>
                             <div class="col-md-6">
                             <p>
                              <a href="http://silverprice.org"> <img border=0 width="100%" src="http://silverprice.org/charts/silver_1d_k_m_EUR.png"></a><br><a href="http://silverprice.org">silver price</a> charts provided by <a href="http://silverprice.org">silverprice.org</a></p>
                             </div> 
                             <div class="col-md-6">
                             <p>
                              <a href="http://goldprice.org"> <img border=0 width="100%" src="http://goldprice.org/NewCharts/gold/images/gold_1d_g_m_GBP.png"></a><br><a href="http://goldprice.org">gold price</a> charts provided by <a href="http://goldprice.org">goldprice.org</a>
                             </p>
                           </div>
                           <div class="col-md-6">
                             <p>
                              <a href="http://silverprice.org"> <img border=0 width="100%" src="http://silverprice.org/charts/silver_1d_o_m_GBP.png"></a><br><a href="http://silverprice.org">silver price</a> charts provided by <a href="http://silverprice.org">silverprice.org</a>
                             </p>
                           </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="messages-1">
                            <div class="row">
                              <div class="col-md-12">
                              <!-- TradingView Widget BEGIN -->
<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
<script type="text/javascript">
new TradingView.widget({
  "autosize": true,
  "symbol": "FX:SPX500",
  "interval": "1",
  "timezone": "EST",
  "theme": "White",
  "style": "2",
  "toolbar_bg": "#f1f3f6",
  "allow_symbol_change": true,
  "hideideas": true,
  "show_popup_button": true,
  "popup_width": "1000",
  "popup_height": "650"
});
</script>
<!-- TradingView Widget END -->
</div>
                                <div class="col-md-4">
                            <h4>Heading Sample 3</h4>
                            <p><div id="tv-miniwidget-08e72"></div>
<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
<script type="text/javascript">
new TradingView.MiniWidget({
  "container_id": "tv-miniwidget-08e72",
  "tabs": [
    "Equities",
    "Commodities",
    "Bonds",
    "Forex"
  ],
  "symbols": {
    "Equities": [
      [
        "S&P500",
        "SPX500"
      ],
      [
        "NQ100",
        "NAS100"
      ],
      [
        "Dow30",
        "DOWI"
      ],
      [
        "Nikkei225",
        "JPN225"
      ],
      [
        "Apple",
        "AAPL "
      ],
      [
        "Google",
        "GOOG"
      ]
    ],
    "Commodities": [
      [
        "Emini",
        "ES1!"
      ],
      [
        "Euro",
        "E61!"
      ],
      [
        "Gold",
        "GC1!"
      ],
      [
        "Oil",
        "CL1!"
      ],
      [
        "Gas",
        "NG1!"
      ],
      [
        "Corn",
        "ZC1!"
      ]
    ],
    "Bonds": [
      [
        "US 2YR",
        "TUZ2013"
      ],
      [
        "US 10YR",
        "TYZ2013"
      ],
      [
        "US 30YR",
        "USZ2013"
      ],
      [
        "Euro Bund",
        "FX:BUND"
      ],
      [
        "Euro BTP",
        "EUREX:II1!"
      ],
      [
        "Euro BOBL",
        "EUREX:HR1!"
      ]
    ],
    "Forex": [
      "FX:EURUSD",
      "FX:GBPUSD",
      "FX:USDJPY",
      "FX:USDCHF",
      "FX:AUDUSD",
      "FX:USDCAD"
    ]
  },
  "gridLineColor": "#E9E9EA",
  "fontColor": "#83888D",
  "underLineColor": "#F0F0F0",
  "timeAxisBackgroundColor": "#FFFFFF",
  "trendLineColor": "#FF7965",
  "activeTickerBackgroundColor": "#EDF0F3",
  "large_chart_url": "https://www.tradingview.com/e/",
  "noGraph": false,
  "width": "340px",
  "height": "400px"
});
</script>
<!-- TradingView Widget END -->
</p>
        </div>

        
        <div class="col-md-4">
          <!--pavan bhute-->
            <h4>US Che Top Movers</h4>
        <p><iframe src="http://widgets.prorealtime.com/ProRealTime_FlashQuotes/itcharts.phtml?wid=2014578881&k=a0e519777b86509ec1c841219f1f3d8d" height="400" width ="100%" frameborder="0" scrolling="auto"></iframe></p>     
        </div>
        <div class="col-md-4">
          <h4>US Forex Chart</h4>
        <p><iframe src="http://widgets.prorealtime.com/ProRealTime_FlashXLight/itcharts.phtml?wid=2014104953&k=9b96e70386a3924559ab8e9d380e0746" height="400" width ="100%" frameborder="0" scrolling="auto"></iframe></p>
        </div>
        <div class="col-md-6">
          <h4>US Che Gold Price</h4>
          <p> <a href="http://goldprice.org"> <img border=0 width="100%" src="http://goldprice.org/NewCharts/gold/images/gold_1d_g_m_USD.png"></a><br><a href="http://goldprice.org">gold price</a> charts provided by <a href="http://goldprice.org">goldprice.org</a></p>
          </div>
          <div class="col-md-6">
            <h4>US Silver Price</h4>
          <p><a href="http://silverprice.org"> <img border=0 width="100%" src="http://silverprice.org/charts/silver_1d_k_m_USD.png"></a><br><a href="http://silverprice.org">silver price</a> charts provided by <a href="http://silverprice.org">silverprice.org</a> </p>
          </div>
                        </div>
                        </div>
                        <div class="tab-pane fade in" id="settings-1">
                          <div class="row">
                            <div class="col-md-6">
                            <h4>Heading Sample 4</h4>
                            <p><a href="http://goldprice.org"> <img border=0 src="http://goldprice.org/NewCharts/gold/images/gold_1d_g_m_JPY.png"></a><br><a href="http://goldprice.org">gold price</a> charts provided by <a href="http://goldprice.org">goldprice.org</a></p>
                          </div>
                          <div class="col-md-6">
                            <h4>Heading Sample 4</h4>
                          <a href="http://silverprice.org"> <img border=0 src="http://silverprice.org/charts/silver_1d_k_m_JPY.png"></a><br><a href="http://silverprice.org">silver price</a> charts provided by <a href="http://silverprice.org">silverprice.org</a>
                        </div>
                        </div>
                        </div>
                        <div class="tab-pane fade in" id="forex">
                          <div class="row">
                                    <!--accordian by pavan start-->

        <div class="col-md-12">
                <!-- Accordion v1 -->                
                <div class="panel-group acc-v1" id="accordion-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                    Calculaters
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-One" class="panel-collapse collapse ">
                            <div class="panel-body">
                                <div class="row">
                                    

                             <div class="col-md-5">
                              <iframe frameborder="0" scrolling="auto" height="425" width="100%" allowtransparency="true" marginwidth="0" marginheight="0" src="http://tools.investing.com/margin-calculator/index.php?acc=12&pair=1"></iframe><br /><div style="width:450"><a href="http://www.investing.com" target="_blank"><img src="http://c1802182.cdn.cloudfiles.rackspacecloud.com/forexpros_en_logo.png" alt="Investing.com" title="Investing.com" style="float:left" /></a><span style="float:right"><span style="font-size: 11px;color: #333333;text-decoration: none;">The Margin Calculator is powered by <a href="http://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a></span></span></div>
                              
                            </div>
                            <div class="col-md-6">
                              <iframe frameborder="0" scrolling="auto" height="450" width="100%" allowtransparency="true" marginwidth="0" marginheight="0" src="http://tools.investing.com/profit-calculator/index.php?acc=12&pair=1"></iframe><br /><div style="width:450"><span style="float:left"><span style="font-size: 11px;color: #333333;text-decoration: none;">The Profit Calculator is powered by <a href="http://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a>.</span></span></div>
                              
                            </div>

                            <div class="col-md-3">
                              <!-- <h4>Heading Sample 3</h4> -->
                              <iframe frameborder="0" scrolling="auto" height="375" width="100%"
allowtransparency="true" marginwidth="0" marginheight="0"
src="http://tools.investing.com/currency-converter/index.php?from=183&to=12"></iframe><br /><table width="197"><tr><td><span style="font-size: 11px;color: #333333;text-decoration: none;">The Currency Converter is powered by <a href="http://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a></span></td></tr></table>

                           </div>
                            <div class="col-md-6">
                              <iframe frameborder="0" scrolling="auto" height="640" width="100%" allowtransparency="true" marginwidth="0" marginheight="0" src="http://tools.investing.com/pip-calculator/index.php?acc=12"></iframe><br /><div style="width:450"><span style="float:left"><span style="font-size: 11px;color: #333333;text-decoration: none;">The Pip Calculator is powered by <a href="http://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a></span></span></div>
                              
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                                    Collapsible Group Item #2
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                            <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                                            <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="assets/img/main/6.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
        <!--accordian by pavan end-->
                            <div class="col-md-6">
                              <h4>Exchange Rates Table</h4>
                              <p>
                                <iframe frameborder="0" scrolling="auto" height="332" width="100%" allowtransparency="true" marginwidth="0" marginheight="0" src="http://indrates.investing.com/index.php?pairs_ids=169;166;20;170;172;27;167;175;168;174;177;176;178;179;&header-text-color=%23FFFFFF&curr-name-color=%230059b0&inner-text-color=%23000000&green-text-color=%232A8215&green-background=%23B7F4C2&green-background=%23B7F4C2&red-text-color=%23DC0001&red-background=%23FFE2E2&inner-border-color=%23CBCBCB&border-color=%23cbcbcb&bg1=%23F6F6F6&bg2=%23ffffff&open=show&last_update=hide"></iframe><br /><span style="font-size: 11px;color: #333333;text-decoration: none;">Live World Indices are powered by <a href="http://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a></span>
                                
                              </p>

                              <h4>
                                  Indices Quotes Widget</h4>
                              <iframe frameborder="0" scrolling="auto" height="175" width="100%" allowtransparency="true" marginwidth="0" marginheight="0" src="http://fxrates.investing.com/index_exchange.php?params&inner-border-color=%23CBCBCB&border-color=%23cbcbcb&bg1=%23F6F6F6&bg2=%23ffffff&inner-text-color=%23000000&currency-name-color=%23000000&header-text-color=%23FFFFFF" align="center"></iframe><br /><div style="width:540px"><a href="http://www.investing.com" target="_blank"><img src="http://c1802182.cdn.cloudfiles.rackspacecloud.com/forexpros_en_logo.png" alt="Investing.com" title="Investing.com" style="float:left" /></a><span style="float:right"><span style="font-size: 11px;color: #333333;text-decoration: none;">The Exchange Rates are powered by <a href="http://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a>.</span></span></div>
                            </div>
                             <div class="col-md-6">
                              <h4>Stock Quotes</h4>
                              <p>

                                <iframe frameborder="0" scrolling="auto" height="570" width="550" allowtransparency="true" marginwidth="0" marginheight="0" src="http://eqrates.investing.com/index.php?pairs_ids=277;347;6408;243;282;346;396;238;284;247;240;260;241;271;394;352;6974;7888;26490;8193;308;6369;280;301;251;8082;267;8177;287;272;252;8115;409;402;305;651;295;474;469;667;7997;7992;&header-text-color=%23FFFFFF&curr-name-color=%230059b0&inner-text-color=%23000000&green-text-color=%232A8215&green-background=%23B7F4C2&red-text-color=%23DC0001&red-background=%23FFE2E2&inner-border-color=%23CBCBCB&border-color=%23cbcbcb&bg1=%23F6F6F6&bg2=%23ffffff&last_update=hide"></iframe><div style="width:559px;"><span><span style="font-size: 11px;color: #333333;text-decoration: none;">Leading Stock Quotes powered by <a href="http://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a></span></span></div>  
                              </p>
                             </div>
                            

                            
                            <!-- <div class="col-md-6">
                              
                              <iframe frameborder="0" scrolling="no" height="375" width="197" allowtransparency="true" marginwidth="0" marginheight="0" src="http://tools.investing.com/currency-converter/index.php?from=17&to=12"></iframe><br /><table width="197"><tr><td><span style="font-size: 11px;color: #333333;text-decoration: none;">The Currency Converter is powered by <a href="http://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a></span></td></tr></table>

 
                            </div>
                            <div class="col-md-6">
                              <iframe frameborder="0" scrolling="no" height="375" width="197" allowtransparency="true" marginwidth="0" marginheight="0" src="http://tools.investing.com/currency-converter/index.php?from=17&to=12"></iframe><br /><table width="197"><tr><td><span style="font-size: 11px;color: #333333;text-decoration: none;">The Currency Converter is powered by <a href="http://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a></span></td></tr></table>
                              
                            </div> -->
                            <div class="col-md-6">
                            <iframe frameborder="0" scrolling="auto" height="552" width="100%" allowtransparency="true" marginwidth="0" marginheight="0" src="http://comrates.investing.com/index.php?pairs_ids=8830;8831;8832;8833;8834;8836;8848;8849;8851;8860;8861;8862;8869;8883;8891;8894;8910;8911;8912;8914;8915;8916;8917;8918;8988;&header-text-color=%23FFFFFF&curr-name-color=%230059b0&inner-text-color=%23000000&green-text-color=%232A8215&green-background=%23B7F4C2&red-text-color=%23DC0001&red-background=%23FFE2E2&inner-border-color=%23CBCBCB&border-color=%23cbcbcb&bg1=%23F6F6F6&bg2=%23ffffff&open=hide&last_update=hide"></iframe><br /><span style="font-size: 11px;color: #333333;text-decoration: none;">Commodities are powered by <a href="http://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a></span>    
                              
                            </div>
                            
                            <div class="col-md-6">
                              
                             <iframe src="http://ec.forexprostools.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&category=_employment,_economicActivity,_inflation,_credit,_centralBanks,_confidenceIndex,_balance,_Bonds&importance=1,2,3&features=datepicker,timezone&countries=25,32,6,37,72,22,17,39,14,48,10,35,7,43,60,36,110,11,26,12,4,5&calType=week&timeZone=8&lang=1" width="550" height="552" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe><div class="poweredBy"><span style="font-size: 11px;color: #333333;text-decoration: none;">Real Time Economic Calendar provided by <a href="http://www.Investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a>.</span></div> 
                              
                            </div>
                            <div class="col-md-4">
                              
                              <iframe src="http://tsw.forexprostools.com?&forex=1,2,3,5,7,9,10&commodities=8830,8836,8831,8849,8833,8862,8832&indices=169,20,166,172,27,167,178&stocks=6408,6369,243,267,7888,284,8090&tabs=1,2,3,4" width="317" height="467"></iframe><div class="poweredBy"><span style="font-size: 11px;color: #333333;text-decoration: none;">Technical Summary Widget Powered by <a href="http://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a></span></div> 
                            </div>
                            <!-- <div class="col-md-4">
                          <h4>Market Quotes Widget</h4>
                          <p> 
                            
                            <iframe frameborder="0" scrolling="" height="287" width="300" allowtransparency="true" marginwidth="0" marginheight="0" src="http://tools.investing.com/market_quotes.php?tab_1=2,3,6,7,9,11&tab_2=169,166,20,172,27,178&tab_3=8830,8849,8836,8862,8831,8988&tab_4=8880,8907,8900,8899,8886,8895&select_color=000000&default_color=0059B0"> </iframe><br /><div style="width:300"><span style="font-size: 11px;color: #333333;text-decoration: none;">Market Quotes are powered by <a href="http://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a></span></div>
                          </p> 
                          
                        </div> -->
                            
                          </div>
                        </div>
                    </div>
                </div>
                <!-- End Tab v2 --> 

            </div>
            </div>
            </div>