 <%#= render '/refinery/content_page' %>
<%# if @testimonials %>
  <section id="testimonials">
    <ul>
      <%#= render @testimonials %>
    </ul>
  </section>
<%#end%> 






<!--=== Content Part ===-->
    <div class="container content">
        <div class="row team margin-bottom-20">
            <div class="col-md-4">
                <div class="thumbnail-style">
                    <%= image_tag("1.png",:class=>"img-responsive",:alt=>'')%>
                    <!-- <img alt="" src="assets/team/1.jpg" class="img-responsive"> -->
                   <!--  <h3><a>Nitin Kore</a> <small>Chief Executive Officer</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="social-icons">
                        <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
                        <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                        <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                        <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
                    </ul> -->
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="margin-bottom-10"></div>
                <p><span class="dropcap-bg">k</span><p><%= render '/refinery/content_page' %></p></p><br>

                <blockquote class="margin-bottom-30">
                    <p>Businesses need to be capable of taking advantage of new growth opportunities as soon as they sprout within the market. The only way to ensure this is to integrate business practices that are founded on principles of performance, speed, and adaptability.</p>
                </blockquote>
                <blockquote class="margin-bottom-5">
                    
                    <p>The topic which will be covered as part of blogging and video services are:</p>
                    <hr>
                </blockquote>

                <div class="row list-style-v1">
                    <div class="col-md-6">
                        <ul class="list-unstyled margin-bottom-35">
                            <li><i class="color-green fa fa-check"></i> Banking and Financial Services</li>
                            <li><i class="color-green fa fa-check"></i> Anti Money Laundering</li>
                            <li><i class="color-green fa fa-check"></i> Financial Fraud</li>
                            <!-- <li><i class="color-green fa fa-check"></i> Video Tutorial on Domain as well as Technical expertise</li> -->
                            <li><i class="color-green fa fa-check"></i> Wealth Management</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled margin-bottom-35">
                            <li><i class="color-green fa fa-check"></i> Stock Market Technology</li>
                            <li><i class="color-green fa fa-check"></i> Technology Consulting</li>
                            <li><i class="color-green fa fa-check"></i>Mutual Fund Technology</li>
                            <!-- <li><i class="color-green fa fa-check"></i> Blogs on BFS Domain Latest Happenings</li> -->
                            <li><i class="color-green fa fa-check"></i>Ruby On Rails Based Web Technologies</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="headline"><h2>Scope</h2></div>
        <div class="row team margin-bottom-20">
            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <%= image_tag("3.png",:class=>"img-responsive",:alt=>'')%>
                    <!-- <img alt="" src="assets/team/3.jpg" class="img-responsive"> -->
                    <h3><a>Global Stock Market</a></h3>
                    <p>Trough our global stock market page,get latest updates about leading stock markets globally </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <%= image_tag("2.png",:class=>"img-responsive",:alt=>'')%>
                    <!-- <img alt="" src="assets/team/2.jpg" class="img-responsive"> -->
                    <h3><a>Video Tutorials</a></h3>
                    <p>koresol's video trainings and blogging solutions are designed keeping in mind the importance of practical application from technology aspect</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <%= image_tag("4.png",:class=>"img-responsive",:alt=>'')%>
                    <!-- <img alt="" src="assets/team/4.jpg" class="img-responsive"> -->
                    <h3><a>Blogs</a></h3>
                    <p>Our team of experts will provide you with blogs to make you undrstand diffrent technical aspects related to BFS industry</p>
                </div>
            </div>
        </div>    

        <div class="shadow-wrapper">
            <blockquote class="hero box-shadow shadow-effect-2">
                <p><em>"We focus heavily on using our IT & Consultancy services to leverage companies within the BFS sector"</em></p>   
            </blockquote>
        </div>

                </div>
    </div><!--/container-->     
    <!--=== End Content Part ===