    <!--=== Slider ===-->
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <!-- THE FIRST SLIDE -->
                <li data-transition="3dcurtain-vertical" data-slotamount="10" data-masterspeed="300" data-thumb="assets/img/sliders/revolution/thumbs/thumb1.jpg">

                    <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                    <%= image_tag("bg11.png")%>
                    <!-- <img src="assets/img/sliders/revolution/bg1.jpg"> -->

                    <div class="caption medium_text sfb bg-black-opacity"
                         data-x="110"
                         data-y="30"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo">
                         <span style="color: #4A8AC6;font-weight:bold;">"<a href="www.koresol.com">koresol</a>"</span>
                         <span style="color: #EFAE52;font-weight:bold;">offers comprehensive and practical </span>
                          
                         <span style="color: #000;font-weight:bold;">video trainings & blogs for Financial Technology</span>
                    </div>

                    <div class="caption randomrotate"
                         data-x="189"
                         data-y="76"
                         data-speed="600"
                         data-start="1100"
                         data-easing="easeOutExpo">
                         <%= image_tag("p1.png",:class=>"img-border",:alt=>'')%>
                         <!-- <img class="img-border" src="assets/img/sliders/revolution/p1.jpg" alt="Image 2"> -->
                    </div>

                    <div class="caption randomrotate"
                         data-x="0"
                         data-y="92"
                         data-speed="600"
                         data-start="1200"
                         data-easing="easeOutExpo">
                         <%= image_tag("p2.png",:class=>"img-border",:alt=>'')%>
                         <!-- <img class="img-border" src="assets/img/sliders/revolution/p2.jpg" alt="Image 3"> -->
                    </div>

                    <div class="caption randomrotate"
                         data-x="200"
                         data-y="209"
                         data-speed="600"
                         data-start="1300"
                         data-easing="easeOutExpo">
                         <%= image_tag("p6.png",:class=>"img-border",:alt=>'')%>
                         <!-- <img class="img-border" src="assets/img/sliders/revolution/p6.jpg" alt="Image 4"> -->
                    </div>

                    <div class="caption randomrotate"
                         data-x="97"
                         data-y="117"
                         data-speed="300"
                         data-start="1400"
                         data-easing="easeOutExpo">
                         <%= image_tag("p15.png",:class=>"img-border",:alt=>'')%>
                         <!-- <img class="img-border" src="assets/img/sliders/revolution/p4.jpg" alt="Image 5"> -->
                    </div>

                    <div class="caption randomrotate"
                         data-x="14"
                         data-y="222"
                         data-speed="600"
                         data-start="1500"
                         data-easing="easeOutExpo">
                         <%= image_tag("p5.png",:class=>"img-border",:alt=>'')%>
                         <!-- <img class="img-border" src="assets/img/sliders/revolution/p5.jpg" alt="Image 6"> -->
                    </div>

                    <div class="caption randomrotate"
                         data-x="638"
                         data-y="201"
                         data-speed="300"
                         data-start="1600"
                         data-easing="easeOutExpo">
                         <%= image_tag("p3.png",:class=>"img-border",:alt=>'')%>
                         <!-- <img class="img-border" src="assets/img/sliders/revolution/p3.jpg" alt="Image 7"> -->
                    </div>

                    <div class="caption randomrotate"
                         data-x="717"
                         data-y="294"
                         data-speed="300"
                         data-start="1700"
                         data-easing="easeOutExpo">
                         <%= image_tag("p4.png",:class=>"img-border",:alt=>'')%>
                         <!-- <img class="img-border" src="assets/img/sliders/revolution/p4.jpg" alt="Image 8"> -->
                    </div>

                    <div class="caption randomrotate"
                         data-x="682"
                         data-y="79"
                         data-speed="300"
                         data-start="1800"
                         data-easing="easeOutExpo">
                         <%= image_tag("p8.png",:class=>"img-border",:alt=>'')%>
                         <!-- <img class="img-border" src="assets/img/sliders/revolution/p8.jpg" alt="Image 9"> -->
                    </div>

                    <div class="caption randomrotate"
                         data-x="807"
                         data-y="71"
                         data-speed="300"
                         data-start="1900"
                         data-easing="easeOutExpo">
                         <%= image_tag("p10.png",:class=>"img-border",:alt=>'')%>
                         <!-- <img class="img-border" src="assets/img/sliders/revolution/p10.jpg" alt="Image 10"> -->
                    </div>

                    <div class="caption randomrotate"
                         data-x="818"
                         data-y="271"
                         data-speed="300"
                         data-start="2000"
                         data-easing="easeOutExpo">
                         <%= image_tag("p14.png",:class=>"img-border",:alt=>'')%>
                        <!--  <img class="img-border" src="assets/img/sliders/revolution/p5.jpg" alt="Image 11"> -->
                    </div>

                    <div class="caption randomrotate"
                         data-x="95"
                         data-y="248"
                         data-speed="300"
                         data-start="2100"
                         data-easing="easeOutExpo">
                         <%= image_tag("p9.png",:class=>"img-border",:alt=>'')%>
                         <!-- <img class="img-border" src="assets/img/sliders/revolution/p9.jpg" alt="Image 12"> -->
                    </div>

                    <div class="caption randomrotate"
                         data-x="762"
                         data-y="165"
                         data-speed="300"
                         data-start="2200"
                         data-easing="easeOutExpo">
                         <%= image_tag("p7.png",:class=>"img-border",:alt=>'')%>
                         <!-- <img class="img-border" src="assets/img/sliders/revolution/p7.jpg" alt="Image 13"> -->
                    </div>
                </li>

                <!-- THE SECOND SLIDE -->
                <li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-delay="9400" data-thumb="assets/img/sliders/revolution/thumbs/thumb2.jpg">

                    <!-- THE MAIN IMAGE IN THE SECOND SLIDE -->                                               
                    <!-- <img src="assets/img/sliders/revolution/bg2.jpg"> -->
                    <%= image_tag("bg2.png",:alt=>'')%>

                    <div class="caption very_big_white lfl stl"
                         data-x="18"
                         data-y="343"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">
                         koresol
                    </div>

                    <div class="caption big_white lfl stl"
                         data-x="18"
                         data-y="390"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-end="9100" data-endspeed="300" data-endeasing="easeInSine">
                         offers practical video trainings for Financial Crime technology
                    </div>

                    <div class="caption lft ltb"
                         data-x="600"
                         data-y="0"
                         data-speed="600"
                         data-start="1100"
                         data-easing="easeOutExpo" data-end="3100" data-endspeed="2600" data-endeasing="easeInSine">
                         <%= image_tag("hatkadi.png",:alt=>'')%>

                         <!-- <img src="assets/img/sliders/revolution/drink2.jpg" alt="Image 3"> -->
                    </div>

                    <div class="caption bold_green_text sft stb"
                         data-x="650"
                         data-y="290"
                         data-speed="200"
                         data-start="1400"
                         data-easing="easeOutExpo" data-end="3300" data-endspeed="2150" data-endeasing="easeInSine">
                         <span style="color:#666; background-color:#fff;">Get Recent Information On</span>
                    </div>

                    <div class="caption bold_green_text sft stb"
                         data-x="680"
                         data-y="320"
                         data-speed="200"
                         data-start="1700"
                         data-easing="easeOutExpo" data-end="3200" data-endspeed="2150" data-endeasing="easeInSine">
                         <span style="background-color:#fff;">Financial Fraud Prevention</span>
                    </div>

                    <div class="caption lft ltb"
                         data-x="600"
                         data-y="0"
                         data-speed="600"
                         data-start="3600"
                         data-easing="easeOutExpo" data-end="5600" data-endspeed="2600" data-endeasing="easeInSine">
                         <%= image_tag("drink1.png",:alt=>'')%>
                         <!-- <img src="assets/img/sliders/revolution/drink1.jpg" alt="Image 6"> -->
                    </div>

                    <div class="caption bold_brown_text sft stb"
                         data-x="670"
                         data-y="290"
                         data-speed="200"
                         data-start="3900"
                         data-easing="easeOutExpo" data-end="5800" data-endspeed="2150" data-endeasing="easeInSine" >
                         <span style="color:#666; background-color:#fff;">Know The Latest Trends </span>
                    </div>

                    <div class="caption bold_green_text sft stb"
                         data-x="590"
                         data-y="320"
                         data-speed="200"
                         data-start="4200"
                         data-easing="easeOutExpo" data-end="5700" data-endspeed="2150" data-endeasing="easeInSine">
                         <span style=" background-color:#fff;">To Minimize Money Loundring</span>
                    </div>

                    <div class="caption lft ltb"
                         data-x="600"
                         data-y="0"
                         data-speed="600"
                         data-start="6100"
                         data-easing="easeOutExpo" data-end="8100" data-endspeed="2150" data-endeasing="easeInSine">
                         <%= image_tag("drink3.png",:alt=>'')%>
                         <!-- <img src="assets/images/sliders/revolution/drink3.jpg" alt="Image 9"> -->
                    </div>

                    <div class="caption bold_red_text sft stb"
                         data-x="670"
                         data-y="290"
                         data-speed="200"
                         data-start="6400"
                         data-easing="easeOutExpo" data-end="8300" data-endspeed="2150" data-endeasing="easeInSine">
                         <span style="color:#666; background-color:#fff;">Keep Yourself Updated With </span>
                    </div>

                    <div class="caption bold_green_text sft stb"
                         data-x="590"
                         data-y="320"
                         data-speed="200"
                         data-start="6700"
                         data-easing="easeOutExpo" data-end="8200" data-endspeed="2150" data-endeasing="easeInSine">
                         <span style=" background-color:#fff;">Regulations to control Financial Fraud</span>
                    </div>
                </li>

                <!-- THE THIRD SLIDE -->
                <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300" data-thumb="assets/img/sliders/revolution/thumbs/thumb3.jpg">

                    <!-- THE MAIN IMAGE IN THE THIRD SLIDE -->                                               
                    <!-- <img src="assets/img/sliders/revolution/bg3.jpg" > -->
                    <%= image_tag("bg3.png",:alt=>'')%>

                    <div class="caption large_text sft"
                         data-x="10"
                         data-y="30"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo">
                        <span style="color: #F76529;"> Learn "Web Technologies" Quickly </span>
                    </div>

                    <div class="caption medium_text sfl"
                         data-x="20"
                         data-y="70"
                         data-speed="300"
                         data-start="1100"
                         data-easing="easeOutExpo">
                         <span style="color: #D62021; font-weight:bold;">Through Our</span>
                    </div>

                    <div class="caption large_text sfr"
                         data-x="88"
                         data-y="100"
                         data-speed="300"
                         data-start="1100"
                         data-easing="easeOutExpo">
                         <span style="color: #9cdf39; background-color:#ccc;">"Code & Learn" Approach</span>
                    </div>

                    <div class="caption lfl"
                         data-x="10"
                         data-y="150"
                         data-speed="800"
                         data-start="900"
                         data-easing="easeOutExpo">
                         <%= image_tag("imac.png",:alt=>'')%>
                         <!-- <img src="assets/img/sliders/revolution/imac.png" alt="Image 4"> -->
                    </div>

                    <div class="caption lfl"
                         data-x="210"
                         data-y="245"
                         data-speed="600"
                         data-start="1000"
                         data-easing="easeOutExpo">
                         <%= image_tag("ipad.png",:alt=>'')%>
                         <!--<img src="assets/img/sliders/revolution/ipad.png" alt="Image 5">-->
                    </div>

                    <div class="caption lfl"
                         data-x="322"
                         data-y="313"
                         data-speed="400"
                         data-start="1100"
                         data-easing="easeOutExpo">
                         <%= image_tag("iphone.png",:alt=>'')%>
                         <!-- <img src="assets/img/sliders/revolution/iphone.png" alt="Image 6"> -->
                    </div>

                    <div class="caption lft"
                         data-x="500"
                         data-y="130"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo">
                         <%= image_tag("html5andcss3alternew1.png",:alt=>'')%>           
                         <!-- <img src="assets/img/sliders/revolution/html5andcss3.png" alt="Image 6"> -->
                    </div>
                </li>

                <!-- THE FOURTH SLIDE -->
                <li data-transition="flyin" data-slotamount="1" data-masterspeed="300" data-thumb="assets/img/sliders/revolution/thumbs/thumb4.jpg">
                    
                    <!-- THE MAIN IMAGE IN THE FOURTH SLIDE -->                                
                    <%= image_tag ("blogs.png")%>
                    <img src="assets/img/sliders/revolution/bg4.jpg" >

                    <div class="caption lfb boxshadow" 
                         data-x="20" 
                         data-y="120" 
                         data-speed="900" 
                         data-start="500" 
                         data-easing="easeOutBack">
                         <iframe width="500" height="281" src="//www.youtube.com/embed/TTiJeTUX_8M" frameborder="0" allowfullscreen></iframe>
                         <!-- <iframe src="http://player.vimeo.com/video/54035990?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>  -->
                    </div>

                    <div class="caption sft big_black"  
                         data-x="570" 
                         data-y="120" 
                         data-speed="300" 
                         data-start="1200" 
                         data-easing="easeOutExpo">
                         Benefit
                    </div>
                    
                    <div class="caption sft big_white" 
                         data-x="570" 
                         data-y="162" 
                         data-speed="300" 
                         data-start="1300" 
                         data-easing="easeOutExpo">
                         from koresol’s
                    </div>
                    
                    <div class="caption lfb medium_grey"  
                         data-x="570" 
                         data-y="215" 
                         data-speed="300" 
                         data-start="1400" 
                         data-easing="easeOutExpo">
                         video tutorials and blogs
                    </div>
                    
                    <div class="caption lfb medium_grey"  
                         data-x="570" 
                         data-y="240" 
                         data-speed="300" 
                         data-start="1500" 
                         data-easing="easeOutExpo">   
                         relating to
                    </div>
                    
                    <div class="caption lfb medium_grey" 
                         data-x="570" 
                         data-y="265" 
                         data-speed="300" 
                         data-start="1600" 
                         data-easing="easeOutExpo">
                         BFS domain knowledge
                    </div>
                </li>
            </ul>

            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
    <!--=== End Slider ===-->


<!--=== Content Part ===-->
<div class="container content" style="padding-top:45px;"> 
<!-- <div class="clearfix margin-bottom-30"></div> -->
<div class="shadow-wrapper">
    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
        
        <p><p><span class="dropcap-bg">A</span><p><%= render '/refinery/content_page' %></p></p>
    </div>
</div>

<div class="clearfix margin-bottom-40"></div>

<!-- Service Blocks -->
<div class="margin-bottom-20"></div>
<div class="row margin-bottom-40">
    <div class="col-sm-4">
                <div class="thumbnail-style">
                    <%= image_tag("3.png",:class=>"img-responsive",:alt=>'Global Stock Market')%>
                    <!-- <img alt="" src="assets/team/3.jpg" class="img-responsive"> -->
                    <h3><a>Global Stock Market</a></h3>
                    <p>Trough our <a href="/world-stock-markets">global stock market page</a>, get latest updates about leading stock markets globally </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <%= image_tag("2.png",:class=>"img-responsive",:alt=>'Video Tutorials')%>
                    <!-- <img alt="" src="assets/team/2.jpg" class="img-responsive"> -->
                    <h3><a>Video Tutorials</a></h3>
                    <p><a href="www.koresol.com">koresol's</a> video trainings and blogging solutions are designed keeping in mind the importance of practical application from technology aspect</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <%= image_tag("4.png",:class=>"img-responsive",:alt=>'blogs')%>
                    <!-- <img alt="" src="assets/team/4.jpg" class="img-responsive"> -->
                    <h3><a>Blogs</a></h3>
                    <p>Our team of experts will provide you with <a href="/blog">blogs</a> to make you undrstand diffrent aspects related to BFS industry</p>
                </div>
            </div>
</div>
<!-- End Service Blokcs -->

<!-- Info Blokcs -->
<div class="row margin-bottom-40">
  <!-- Welcome Block -->
<div class="col-md-8 md-margin-bottom-40">
  <div class="headline"><h2>koresol's strengths</h2></div>
        <div class="row">
            <div class="col-sm-4">
                <%= image_tag("domain.png",:class=>"img-responsive margin-bottom-20",:alt=>"BFSwithTechnology")%>
                <!-- <img class="img-responsive margin-bottom-20" src="assets/new/img15.jpg" alt="" /> -->
            </div>
            <div class="col-sm-8">
                <p>Our Domain Expert Team Posses</p>
                <ul class="list-unstyled margin-bottom-20">
                    <li><i class="fa fa-check color-green"></i>Extensive Experience in Diffrent Aspects of Banking and Financial Services</li>
                    
                    <li><i class="fa fa-check color-green"></i> High Quality Technical Strength</li>
                    <li><i class="fa fa-check color-green"></i> Aquired Immense Software Development Life Cycle (SDLC) Experience, Enable Us to Produce High Quality Deliverables</li>
                </ul>                    
            </div>
        </div>

        <blockquote class="hero-unify" style="padding-left:0px;">
            <p>We have developed service packages using our in-depth knowledge and experience within the IT industry. The services that we offer will help your business gain the competitive edge you need, within a highly competitive BFS market.</p>
            <!-- <small>CEO, Nitin Kore</small> -->
        </blockquote>
    </div><!--/col-md-8-->        

    <!-- Posts -->
    <div class="col-md-4 posts">
        <div class="headline"><h3>What <a href="www.koresol.com">koresol</a> provides</h3></div>
        
        <dl class="dl-horizontal">
            <dt><a>
                <%= image_tag("p11.png",:alt=>"Technologies")%>
                <!-- <img alt="" src="assets/sliders/elastislide/10.jpg"> --></a></dt>
            <dd>
                <p><a>We aim to create lasting relationships with our clients through our Consultancy and IT services.</a></p> 
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt><a>
                <%= image_tag("p6.png",:alt=>"business")%>

                <!-- <img alt="" src="assets/sliders/elastislide/11.jpg"> --></a></dt>
            <dd>
                <p><a>It is our objective to simplify a client’s business processes, enabling us to affect change at foundational levels</a></p> 
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt><a>
                <%= image_tag("p4.png",:alt=>"BFSLandscape")%>

                <!-- <img alt="" src="assets/sliders/elastislide/6.jpg"> --></a></dt>
            <dd>
                <p><a>
                    We are inteded to help you in providing technical solutions in Banking and Financial Services Landscape.
                    </a></p> 
            </dd>
        </dl>
    </div>
</div><!--/row--> 
<!-- End Info Blokcs -->